/* our style sheet uwu */

/* Makes sizing of elements easier later/ subject to omission or change*/
*,
*::before,
*::after {
    box-sizing: content-box;
}

/* custom properties*/
:root {

    --ff-primary:'Bangers', cursive;
    --ff-secondary:'Gudea', sans-serif;
    --fc-dark:rgb(7, 6, 6);
    --fc-light:aliceblue;
    --fc-accent: orange;
    --bgc-dark:rgb(17, 1, 1);
    --btnc-red:darkred;
    --bg-repeat: no-repeat;
    --bg-mtpy: multiply;
    --bg-size: 1450px 990px;
    --bg-attch: fixed;
    --bg-p-x: center;
    }

/* Background-image settings in the header*/
header {
    background-image: url(./Assets/hype44.jpg);
    background-repeat: var(--bg-repeat);
    background-size: var(--bg-size);
    background-attachment: var(--bg-attch);
    background-position-x: var(--bg-p-x);
   
    
}
/* Setting the huge title's color, font, size etc*/
.jumbotron {
    font-family: var(--ff-primary);
    background-color: var(--bgc-dark);
   
}

#title {
    font-size: 150px;
    color: var(--fc-light);
    text-shadow: 2px 4px 5px black;
}

/* The blurb to explain what the applet is/ or what the user can use it for*/
#description {
    font-family:var(--ff-secondary);
    margin: 0 30% 0 30%;
    color: var(--fc-dark);
    text-shadow: .5px .5px white;
}

/* body of search area*/
body {
    background-color:rgb(43, 1, 1);
    background-image: url(./Assets/hype44.jpg);
    background-repeat: var(--bg-repeat);
    background-blend-mode: var(--bg-mtpy);
    background-size: var(--bg-size);
    background-attachment: var(--bg-attch);
    background-position-x: var(--bg-p-x);
    margin: 5px 30px 5px 30px;
    padding:10px 10px 5px 10px;
}

/* search bar styling settings*/
.prompt {
    font-family: var(--ff-secondary);
    font-size: 3rem ;
    color: var(--fc-light);
    }

#searchField {
    display: flex;
    margin: 0 30% 8% 30%;
}   

.btn{
color: var(--fc-dark);
background-color: var(--fc-accent);
}

.btn:hover {
cursor: pointer;
background-color: var(--btnc-red);
color: var(--fc-accent);
font-size: 15px;
transition: all .3s ease-in-out;
}

/* Scrollbar styling*/
body::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: var(--fc-accent);/* color of the tracking area */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /*shadow*/
  }
  
body::-webkit-scrollbar-thumb {
    background-color: var(--btnc-red);/* color of the scroll thumb */
    border-radius: 30px;/* roundness of the scroll thumb */
    border: 1px solid ;/* creates padding around scroll thumb */
  }

#recentSearch {
    list-style-type: none;

}

.listStyle {
    font-family: var(--ff-secondary);
    font-size: 15px;
    color: var(--fc-light);
    }

    /* Descriptive title and credits*/
#credits > span {
    font-size: 15px;
}